/*poner la altura al 100% en las etiqutas body y html para que la imagen de fondo cubra toda la pagina 
*/
body,html{
	height: 100%; /*heigth es altura*/

}
.imgfondo{
	/*imagen de fondo*/
	background-image: url('img/fondo.jpg');
	/*pantalla compltea*/
	height: 100%;
	/*centramos la pantalla de fondo*/
	background-position: center;
	/*escalar y hacer zoom en la imagen*/
	background-size: cover;
	/*añadir posicion: tiene que ser relativa para permitir elementos dentro de la imagen posicionados de manera absoluta, por ej.algun texto.*/
	position: relative;
	/*todo elemento dentro de clase .imgfondo tendra un color blanco si estos fueran de texto.*/
	color:white;
	/*añadir una fuente*/
	font-family: Headshots;/*BUSCAR EN WORD ALGUNA LETRA XD*/
	/*OBLIGO A QUE LA FUENTE tenga 25px*/
	font-size: 25px

}
/*posicion del texto en el medio */
.medio{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50,-50%);
	text-align: center;
}
/*posicion del texto en la izquierda que se encuentra arriba a la izquierda*/
.arribaizquierda{
	position: absolute;
	top: 0;
	left: 16px;
}
/*posicion del texto en la esquina que se encuentra abajo a la izquierda*/
.abajoizquierda{
	position: absolute;
	bottom: 0;
	left: 16px;
}
/*estilizar linea orisontal*/
hr{
	margin: auto;
	width: 40%;

}
